@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
body {
  font-family: 'Oswald', 'sans-serif'; }

.top-margin-1rem {
  margin-top: 1rem; }

.padding-30 {
  padding-left: 30px;
  padding-right: 30px; }

@media only screen and (max-width: 990px) {
  .col-lg:not(:first-child) {
    margin-top: 1.2rem; } }

.container-fluid .col-lg {
  padding: 1rem; }

@media only screen and (min-width: 990px) {
  .lg-pr-1 {
    padding-right: 0 !important; } }

@media only screen and (min-width: 990px) {
  .lg-pl-0 {
    padding-left: 0 !important; } }

.top-banner {
  padding: 0;
  margin-bottom: .4rem; }
  .top-banner__item p {
    font-family: "Oswald", sans-serif;
    color: #494949;
    font-size: .8rem;
    text-transform: uppercase; }
  .top-banner__item svg {
    width: .7rem;
    height: .7rem;
    fill: #494949; }

.navbar-custom {
  background-color: #1D1D1D;
  padding: 0;
  padding-left: 5rem;
  padding-right: 5rem; }
  @media only screen and (max-width: 600px) {
    .navbar-custom {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.navbar-toggler-icon {
  fill: white; }

.nav-item {
  text-transform: uppercase; }
  .nav-item a {
    color: #eec700;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .nav-item a {
        font-size: .8rem; } }

.logo {
  display: block;
  text-indent: -9999px;
  width: 8rem;
  height: 5rem;
  background: url("../img/logo.svg");
  background-size: 8rem 5rem; }

.navbar-text span {
  text-transform: uppercase;
  color: #d3d3d3; }

.navbar-text svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: #eec700;
  position: relative;
  top: .2rem;
  margin-right: 1.5rem; }

.carousel-div .carousel-control-prev {
  background-color: rgba(48, 48, 48, 0.4);
  width: 10rem; }
  @media only screen and (max-width: 600px) {
    .carousel-div .carousel-control-prev {
      width: 2rem; } }

.carousel-div .carousel-control-next {
  background-color: rgba(48, 48, 48, 0.4);
  width: 10rem; }
  @media only screen and (max-width: 600px) {
    .carousel-div .carousel-control-next {
      width: 2rem; } }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none; }

.carousel-indicators .active {
  background-color: #eec700; }

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: .7rem;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #eec700;
  border-radius: 10px; }

.item {
  position: relative; }
  .item p {
    display: block;
    color: #090200;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0; }
    @media only screen and (max-width: 991px) {
      .item p {
        font-size: 3rem; } }
    @media only screen and (max-width: 600px) {
      .item p {
        font-size: 1rem; } }
  .item-row-of-three .box img {
    width: 100%;
    height: 100%; }

.main-title {
  padding: 0 5rem .2rem 1rem;
  top: 15%; }

.sub-title {
  top: 26%;
  padding: 0 5rem .2rem 1rem; }
  @media only screen and (max-width: 991px) {
    .sub-title {
      top: 24%; } }
  @media only screen and (max-width: 600px) {
    .sub-title {
      top: 26%; } }

.main-title, .sub-title {
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 198, 0, 0.7)), color-stop(71%, rgba(234, 222, 165, 0.7)), to(rgba(232, 232, 232, 0)));
  background: -webkit-linear-gradient(left, rgba(238, 198, 0, 0.7) 0%, rgba(234, 222, 165, 0.7) 71%, rgba(232, 232, 232, 0) 100%);
  background: -o-linear-gradient(left, rgba(238, 198, 0, 0.7) 0%, rgba(234, 222, 165, 0.7) 71%, rgba(232, 232, 232, 0) 100%);
  background: linear-gradient(to right, rgba(238, 198, 0, 0.7) 0%, rgba(234, 222, 165, 0.7) 71%, rgba(232, 232, 232, 0) 100%);
  position: absolute; }

.box .main-title, .sub-title {
  display: inline-block; }

#sneakers-first-row .row .col-lg-4 {
  padding-right: 0; }
  @media only screen and (max-width: 990px) {
    #sneakers-first-row .row .col-lg-4 {
      padding-right: 1rem;
      padding-top: 1rem; } }

#adidas-clothes {
  padding-top: 1rem; }
  #adidas-clothes .adidas-clothes {
    position: relative;
    height: 25rem; }
    @media only screen and (max-width: 600px) {
      #adidas-clothes .adidas-clothes {
        height: 10rem; } }
    #adidas-clothes .adidas-clothes img {
      width: 100%;
      height: 100%; }
    #adidas-clothes .adidas-clothes p {
      display: block;
      color: #090200;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: 3rem;
      margin: 0; }
      @media only screen and (max-width: 600px) {
        #adidas-clothes .adidas-clothes p {
          font-size: .8rem; } }
    #adidas-clothes .adidas-clothes .main-title {
      opacity: .95;
      top: 30%; }
    #adidas-clothes .adidas-clothes .sub-title {
      opacity: .95;
      top: 45%;
      padding-right: 10rem; }
      @media only screen and (max-width: 600px) {
        #adidas-clothes .adidas-clothes .sub-title {
          font-size: 1rem; } }

#sneakers-second-row .row .col-lg-4 {
  padding-right: 0; }
  @media only screen and (max-width: 990px) {
    #sneakers-second-row .row .col-lg-4 {
      padding-right: 1rem;
      padding-top: 1rem; } }

#logo-row {
  padding-top: 1rem; }
  @media only screen and (max-width: 1080px) {
    #logo-row .row .box {
      padding-left: 5rem; } }

#video-title-row {
  padding-top: 1rem; }
  #video-title-row .row h1 {
    color: white;
    background-color: #1D1D1D;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem; }

#video-row {
  margin-top: -.5rem; }
  #video-row .product-info {
    background-color: #eec700;
    padding: 2.3rem 3rem 2rem 1.2rem;
    z-index: 1000; }
    #video-row .product-info .box {
      line-height: .5rem;
      font-family: 'Oswald', 'sans-serif'; }
      #video-row .product-info .box .product-name {
        font-weight: 700;
        letter-spacing: .1rem;
        font-size: 1.3rem;
        text-transform: uppercase; }
        @media only screen and (max-width: 991px) {
          #video-row .product-info .box .product-name {
            font-size: 1rem; } }
      #video-row .product-info .box .product-price {
        font-weight: 700; }
  #video-row .product-image .box {
    position: relative; }
    #video-row .product-image .box img {
      position: absolute;
      top: 2rem; }
      @media only screen and (max-width: 991px) {
        #video-row .product-image .box img {
          top: -6rem;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 20rem;
          height: 20rem; } }
    #video-row .product-image .box span {
      position: absolute;
      text-transform: uppercase;
      font-weight: 700;
      top: 35.5rem; }
      @media only screen and (max-width: 991px) {
        #video-row .product-image .box span {
          top: 8rem; } }

.big-picture-models {
  padding-top: 1rem;
  margin-top: -1.3rem; }
  .big-picture-models .box {
    background-color: #1D1D1D;
    position: relative;
    height: 3rem; }
    .big-picture-models .box img {
      top: 0;
      right: .02rem;
      height: 3rem;
      position: absolute; }
  .big-picture-models .box-img {
    width: 100%;
    height: 100%; }
    .big-picture-models .box-img img {
      width: 100%;
      height: 100%; }
  .big-picture-models h1 {
    font-size: 1.5rem;
    color: white;
    padding: .4rem; }

.women-models {
  margin-top: 1rem; }

#stores-and-social {
  position: relative; }
  #stores-and-social .store-info .carousel-indicators {
    position: absolute;
    top: 18rem;
    left: 16rem; }
    @media only screen and (max-width: 991px) {
      #stores-and-social .store-info .carousel-indicators {
        top: 55rem;
        left: 20rem; } }
    @media only screen and (max-width: 600px) {
      #stores-and-social .store-info .carousel-indicators {
        top: 30rem;
        left: 10rem; } }
  #stores-and-social .store-info img {
    width: 20rem;
    margin-top: 1rem; }
    @media only screen and (max-width: 991px) {
      #stores-and-social .store-info img {
        width: 10rem; } }
  #stores-and-social .store-info svg {
    width: 1rem;
    height: 1rem;
    margin-right: .3rem; }
  #stores-and-social .store-info h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 1rem; }
  @media only screen and (max-width: 991px) {
    #stores-and-social .social-links .box {
      text-align: center; } }
  #stores-and-social .social-links .box .title-social::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: 0;
    height: 1px;
    width: 90%;
    border-bottom: 3px solid black; }
    @media only screen and (max-width: 991px) {
      #stores-and-social .social-links .box .title-social::before {
        width: 100%; } }
  #stores-and-social .social-links .box .title-social h1 {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    position: absolute;
    left: -.05rem; }
    @media only screen and (max-width: 991px) {
      #stores-and-social .social-links .box .title-social h1 {
        left: 1rem; } }
  #stores-and-social .social-links .box .title-social p {
    margin-top: 4rem; }
  #stores-and-social .social-links .box .social-links {
    margin-top: 4rem;
    margin-left: -1rem; }
    #stores-and-social .social-links .box .social-links img {
      height: 4rem;
      width: 4rem; }
  @media only screen and (max-width: 991px) {
    #stores-and-social .blog-link {
      margin-top: 1rem; } }
  #stores-and-social .blog-link::before {
    content: "";
    position: absolute;
    left: .5rem;
    top: 0;
    height: 1px;
    width: 95%;
    border-bottom: 3px solid black; }
  #stores-and-social .blog-link h1 {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 991px) {
      #stores-and-social .blog-link h1 {
        margin-top: 2rem; } }
  #stores-and-social .blog-link span {
    font-size: 1rem;
    font-weight: 700; }
  #stores-and-social .blog-link p {
    margin-top: 1.5rem; }
  #stores-and-social .blog-link .button {
    padding: 1rem;
    background-color: #1D1D1D;
    text-align: center;
    width: 100%; }
    #stores-and-social .blog-link .button:hover {
      background-color: #eec700;
      color: #1D1D1D; }
    #stores-and-social .blog-link .button a {
      text-decoration: none;
      color: white; }

.yellow-bar-full {
  margin-top: 2rem; }
  .yellow-bar-full .box h1 {
    background-color: #eec700;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5rem;
    padding-left: 1rem; }

.e-news .box {
  background-color: #eec700;
  position: relative; }
  .e-news .box h1 {
    display: inline-block; }
    @media only screen and (max-width: 600px) {
      .e-news .box h1 {
        font-size: .7rem; } }
  .e-news .box input {
    padding: .3rem;
    width: 30%;
    position: absolute;
    top: .5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .e-news .box a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1D1D1D;
    color: white;
    padding: .3rem;
    float: right;
    position: relative;
    top: .5rem;
    left: -.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5%; }
    @media only screen and (max-width: 600px) {
      .e-news .box a {
        top: .1rem;
        font-size: 1rem;
        padding-left: .5rem;
        padding-right: .5rem; } }

.footer-info {
  background-color: #111;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 2.5rem; }
  .footer-info h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    width: 7.2rem; }
  .footer-info-buy-title::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 2rem;
    height: 1px;
    width: 30%;
    border-bottom: solid 3px #eec700; }
    @media only screen and (max-width: 600px) {
      .footer-info-buy-title::before {
        width: 20%; } }
  .footer-info-information::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 2rem;
    height: 1px;
    width: 55%;
    border-bottom: solid 3px #eec700; }
    @media only screen and (max-width: 600px) {
      .footer-info-information::before {
        width: 40%; } }
  .footer-info-design::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 2rem;
    height: 1px;
    width: 50%;
    border-bottom: solid 3px #eec700; }
    @media only screen and (max-width: 600px) {
      .footer-info-design::before {
        width: 40%; } }
  .footer-info a {
    text-decoration: none;
    color: white; }
