// Styling for the three collumn items
.item{
    position: relative;
    & p {
        display: block;
        color: #090200;
        text-transform: uppercase;
        font-family: $oswald;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
        @media only screen and (max-width: 991px) {
            font-size: 3rem;
        }
    }
    &-row-of-three{
        & .box {
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }

 }
// threee column text styling
.main-title{
    padding: 0 5rem .2rem 1rem;
    top: 15%;
}

.sub-title{
   top: 26%;
   @media only screen and (max-width: 991px) {
        top: 24%;
    }
   padding: 0 5rem .2rem 1rem;
}

.main-title, .sub-title{
   background: linear-gradient(to right, rgba(238, 198, 0, .7) 0%,rgba(234,222,165,.7) 71%,rgba(232,232,232,0) 100%);
   position: absolute;
}

.box .main-title, .sub-title{ 
   display: inline-block;
}

 // Styling the rows

// First row under carousel - nike, new era
 #sneakers-first-row{
    & .row {

        & .col-lg-4 {
            padding-right: 0;
            @media only screen and (max-width: 990px) {
                padding-right: 1rem;
                padding-top: 1rem;
            }
            
        }
    }

 }

 // second row - adidas clothes
 #adidas-clothes{
     padding-top: 1rem;
     &  .adidas-clothes{
        position: relative;
        height: 25rem;
        & img{
            width: 100%;
            height: 100%;
        }
        & p{
           display: block;
           color: #090200;
           text-transform: uppercase;
           font-family: $oswald;
           font-weight: 700;
           font-size: 3rem;
           margin: 0;
        }
   
        & .main-title{
           opacity: .95;
           top: 30%;
        }
   
        & .sub-title{
           opacity: .95;
           top: 50%;
           padding-right: 10rem; 
        }
   
    }
 }

// Third row - converse, balance and asics
 #sneakers-second-row{
    & .row {

        & .col-lg-4 {
            padding-right: 0;
            @media only screen and (max-width: 990px) {
                padding-right: 1rem;
                padding-top: 1rem;
            }
        }
    }
 }

 // Fourth row- the logos
#logo-row{
    padding-top: 1rem;
    & .row {
        & .box {
            @media only screen and (max-width: 1080px) {
                padding-left: 5rem;
            }

        }

    }
}

// Video predstavitev title
#video-title-row{
    padding-top: 1rem;
    & .row {
        & h1{
            color: white;
            background-color: $color-nav;
            padding: 1rem;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
}

// video + product
#video-row{
    margin-top: -.5rem;
    & .product-info{
        background-color: $color-nav-text;
        padding: 2.3rem 3rem 2rem 1.2rem;
        z-index: 1000;


        & .box{
            line-height: .5rem;
            font-family: 'Oswald', 'sans-serif';
            & .product-name {
                font-weight: 700;
                letter-spacing: .1rem;
                font-size: 1.3rem;
                text-transform: uppercase;
                @media only screen and (max-width: 991px) {
                    font-size: 1rem;
                }


            }

            & .product-price{
                font-weight: 700;
            }
        }
    }

    & .product-image{
        & .box {
            position: relative;
            & img{
                position: absolute;
                top: 2rem;
                @media only screen and (max-width: 991px) {
                    top: -6rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 20rem;
                    height: 20rem;
                }
            }

            & span {
                position: absolute;
                text-transform: uppercase;
                font-weight: 700;
                top: 35.5rem;
                @media only screen and (max-width: 991px) {
                    top: 8rem;
                }
            }
        }
    }
}

.big-picture-models{
    padding-top: 1rem;
    margin-top: -1.3rem;
    
    & .box {
        background-color: $color-nav;
        position: relative;
        height: 3rem;

        & img{
            top: 0;
            right: .02rem;
            height: 3rem;
            position: absolute;
        }
    }

    & .box-img{
        width: 100%;
        height: 100%;

        & img{
            width: 100%;
            height: 100%;
        }
    }

    
    & h1{
        font-size: 1.5rem;
        color: white;  
        padding: .4rem;
    }
}

.women-models{
    margin-top: 1rem;
}

#stores-and-social{
    position: relative;
    & .store-info{
        
        & .carousel-indicators{
            position: absolute;
            top: 18rem;
            left: 16rem;
            @media only screen and (max-width: 991px) {
                top: 55rem;
                left: 20rem;
            }
        }

        & img {
            width: 20rem;
            margin-top: 1rem;
            @media only screen and (max-width: 991px) {
                width: 10rem;
            }

        }

        & svg {
            width: 1rem;
            height: 1rem;
            margin-right: .3rem;
        }

        & h1 {
            text-transform: uppercase;
            font-size: 1.7rem;
            font-weight: 700;
            margin-top: 1rem;
        }


    }

    & .social-links{
        & .box {
            @media only screen and (max-width: 991px) {
                text-align: center;
            }
            & .title-social{
                &::before{
                    content: "";
                    position: absolute;
                    left: 0rem;
                    top: 0;
                    height: 1px;
                    width: 90%;
                    @media only screen and (max-width: 991px) {
                        width: 100%;
                    }
                    border-bottom: 3px solid black;
                }

                & h1{
                    margin-top: 1rem;
                    font-size: 1.7rem;
                    font-weight: 700;
                    position: absolute;
                    left: -.05rem;
                    @media only screen and (max-width: 991px) {
                        left: 1rem;
                    }
                }

                & p{
                    margin-top: 4rem;
                }
            }

            & .social-links{
                margin-top: 4rem;
                margin-left: -1rem;
                & img {
                    height: 4rem;
                    width: 4rem;
                }
            }
        }
    }

    & .blog-link{
        @media only screen and (max-width: 991px) {
            margin-top: 1rem;
        }
        &::before{
            content: "";
            position: absolute;
            left: .5rem;
            top: 0;
            height: 1px;
            width: 95%;
            border-bottom: 3px solid black;
        }

        & h1 {
            margin-top: 1rem;
            @media only screen and (max-width: 991px) {
                margin-top: 2rem;
            }
            font-size: 1.7rem;
            font-weight: 700;
            margin-bottom: 1.5rem;

        }

        & span {
            font-size: 1rem;
            font-weight: 700;
        }

        & p{
            margin-top: 1.5rem;
        }

        & .button{
            padding:1rem;
            background-color: $color-nav;
            text-align: center;
            width: 100%;

            &:hover{
                background-color: $color-nav-text;
                color: $color-nav;
            }

            & a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.yellow-bar-full{
    margin-top: 2rem;

    & .box {
        & h1{
            background-color: $color-nav-text;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: .5rem;
            padding-left: 1rem;
        }
    }
}

.e-news{
    & .box{
        background-color: $color-nav-text;
        position: relative;
        & h1{
            display: inline-block;
        }

        & input {
            padding: .3rem;
            width: 30%;
            position: absolute;
            top: .5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        & a {
            text-decoration: none;
            text-transform: uppercase;
            background-color: $color-nav;
            color: white;
            padding: .3rem;
            float: right;
            position: relative;
            top: .5rem;
            left: -.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 5%;
        }

    }
}

.footer-info{
    background-color: #111;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
    & h1{
        text-transform: uppercase;
        font-size: 1.5rem;
        color: white;
        width: 7.2rem;

    }

    &-buy-title{
        &::before{
            content: "";
            position: absolute;
            left: 1rem;
            top: 2rem;
            height: 1px;
            width: 30%;
            border-bottom: solid 3px $color-nav-text;
        }
    }

    &-information{
        &::before{
            content: "";
            position: absolute;
            left: 1rem;
            top: 2rem;
            height: 1px;
            width: 55%;
            border-bottom: solid 3px $color-nav-text;
        }
    }

    &-design{
        &::before{
            content: "";
            position: absolute;
            left: 1rem;
            top: 2rem;
            height: 1px;
            width: 50%;
            border-bottom: solid 3px $color-nav-text;
        }
    }

    & a {
        text-decoration: none;
        color: white;
    }
}