// Styling for the three collumn items
.item{
    position: relative;
    & p {
        display: block;
        color: #090200;
        text-transform: uppercase;
        font-family: $oswald;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
    }
    &-row-of-three{
        & .box {
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }

 }
// Text styling
.main-title{
    padding: 0 5rem .2rem 1rem;
    top: 15%;
}

.sub-title{
   top: 25%;
   padding: 0 5rem .2rem 1rem;
}

.main-title, .sub-title{
   background: linear-gradient(to right, rgba(238, 198, 0, .7) 0%,rgba(234,222,165,.7) 71%,rgba(232,232,232,0) 100%);
   position: absolute;
}

.box .main-title, .sub-title{ 
   display: inline-block;
}

 // Styling the rows

// First row under carousel - nike, new era
 #first-row{
    & .row {

        & .col-lg-4 {
            padding-right: 0;
            @media only screen and (max-width: 990px) {
                padding-right: 1rem;
                padding-top: 1rem;
            }
            
        }
    }

 }

 // second row - adidas clothes
 #second-row{
     padding-top: 1rem;
     &  .adidas-clothes{
        position: relative;
        height: 25rem;
        & img{
            width: 100%;
            height: 100%;
        }
        & p{
           display: block;
           color: #090200;
           text-transform: uppercase;
           font-family: $oswald;
           font-weight: 700;
           font-size: 3rem;
           margin: 0;
        }
   
        & .main-title{
           opacity: .95;
           top: 30%;
        }
   
        & .sub-title{
           opacity: .95;
           top: 50%;
           padding-right: 10rem; 
        }
   
    }
 }

// Third row - converse, balance and asics
 #third-row{
    & .row {

        & .col-lg-4 {
            padding-right: 0;
            @media only screen and (max-width: 990px) {
                padding-right: 1rem;
                padding-top: 1rem;
            }
        }
    }
 }

 // Fourth row- the logos
#fourth-row{
    padding-top: 1rem;
    & .row {
        & .box {
            @media only screen and (max-width: 1080px) {
                padding-left: 5rem;
            }

        }

    }
}

// Video predstavitev title
#fifth-row{
    padding-top: 1rem;
    & .row {
        & h1{
            color: white;
            background-color: $color-nav;
            padding: 1rem;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }
}

// video + product
#sixth-row{
    margin-top: -.5rem;
    & .product-info{
        background-color: $color-nav-text;
        padding: 2.3rem 3rem 2rem 1.2rem;

        & .box{
            line-height: .5rem;
            font-family: 'Oswald', 'sans-serif';
            & .product-name {
                font-weight: 700;
                letter-spacing: .1rem;
                font-size: 1.3rem;
                text-transform: uppercase;
            }

            & .product-price{
                font-weight: 700;
            }
        }
    }

    & .product-image{
        & .box {
            position: relative;
            & img{
                position: absolute;
                top: 2rem;
            }

            & span {
                position: absolute;
                text-transform: uppercase;
                font-weight: 700;
                top: 25rem;
            }
        }
    }
}

.big-picture-models{
    padding-top: 1rem;
    margin-top: -1.3rem;
    
    & .box {
        background-color: $color-nav;
        position: relative;
        height: 3rem;
    }

    & .box-img{
        width: 100%;
        height: 100%;

        & img{
            width: 100%;
            height: 100%;
        }
    }

    & .yellow-bar{
        background-color: $color-nav-text;
        position: absolute;
        top: 0;
        left: 97.1%;
        display: block;
        width: 3rem;
        height: 100%;

        & span {
            font-family: $oswald;
            position: relative;
            top: -24%;
            font-weight: 700;
            font-size: 2.5rem;
            
        }
    }
    & h1{
        font-size: 1.5rem;
        color: white;  
        padding: .4rem;
    }
}

.women-models{
    margin-top: 1rem;
}

#ninth-row{
    margin-top: 2rem;

    & .box {
        & h1{
            background-color: $color-nav-text;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: .5rem;
            padding-left: 1rem;
        }
    }
}