// Styling the navbar
.navbar-custom {
    background-color: $color-nav;
    padding: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    @media only screen and (max-width: 600px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
}

.navbar-toggler-icon{
    fill: white;
}

.nav-item{
    text-transform: uppercase;
    & a{
        color: $color-nav-text;
        font-weight: 700;
        @media only screen and (max-width: 600px) {
            font-size: .8rem;
        }
    }
}

.logo{
  display: block;
  text-indent: -9999px;
  width: 8rem;
  height: 5rem;
  background: url('../img/logo.svg');
  background-size: 8rem 5rem;
}


.navbar-text{
    & span {
        text-transform: uppercase;
        color: $color-grey-light;
    }

    & svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: $color-nav-text;
        position: relative;
        top: .2rem;
        margin-right: 1.5rem;
    }
}